---
// Home.astro
---
<div class="home-container">
    <img src="/assets/logo.svg" alt="Logo" id="logo" />
</div>

<nav class="home-nav">
    <a href="#" class="logo">Portfolio.</a>
    <ul class="nav-links">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <button class="menu-btn">☰</button>
</nav>

