---
import background from '../../public/background.svg';
---

<div class="notFound">
    <div class="content">
        <h1>404</h1>
        <h1>Not Found</h1>
    </div>
</div>

<style>
    .notfound {
        margin: 7rem auto 0 auto;
        padding: 2rem 1rem;
    }

    .content {
        font-size: 27px;
    }
</style>