---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/circle-logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공돌이 2조</title>
</head>

<body>
    <slot />
</body>

</html>

<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .layout-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* 화면 전체 높이 */
    }

    .layout-wrapper > *:not(footer) {
        flex: 1; /* 푸터를 제외한 나머지 공간 채움 */
    }
</style>